@import '../../assets/styles/index.scss';

.posts {
    padding-top: 7rem;

    &__item {
        border: 1px solid $color-light-gray;
        padding: 1.5rem;
        box-shadow: 0 -1px 4px $color-light-gray;
        margin: 1rem;

        span {
            color: $color-accent;
        }

        h1 {
            padding: 0;
        }

        &:hover {
            background-color: $color-light-gray;
            color: $color-black;
        }
    }
}

.post {
    padding-top: 7rem;

    &__content {
        margin-top: 3rem;
        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__tags {
        padding: 3rem;

        a {

            &:hover {
                color: $color-accent;
            }
        }

        @include respond(phone) {
            text-align: center;
            padding-bottom: 0;
        }
    }

    &__image {
        @include respond(phone) {
            width: calc(100vw - 3rem);
        }
    }
}

.link {
    text-decoration: none;
    color: black;
}
