@import '../../assets/styles/index.scss';

.posts {
    &__item {
        border: 1px solid $color-light-gray;
        padding: 1.5rem;
        box-shadow: 0 -1px 4px $color-light-gray;
        margin: 1rem;

        span {
            color: $color-accent;
        }

        h1 {
            padding: 0;
        }

        &:hover {
            background-color: $color-light-gray;
            color: $color-black;
        }
    }
}

.post-container {
    display: flex;

    @include respond(phone) {
        display: block;
    }
    
}

.post {
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__content {
        margin-top: 3rem;

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__tags-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__tags {
        padding: 3rem;
        text-align: center;

        a {

            &:hover {
                color: $color-accent;
            }
        }

        @include respond(phone) {
            padding-bottom: 0;
        }
    }
}

.sidebar {
    height: 10rem;
    top: 10rem;
    position: sticky;
    position: -webkit-sticky;
}

.link {
    text-decoration: none;
    color: black;
}
