@import "../assets/styles/index.scss";

.tags {
    padding-top: 7rem;

    a {
        text-decoration: none;
        margin: 0.5rem
    }

    &__name {
        border: 1px solid $color-light-gray;
        border-radius: .5rem;
        padding: .6rem 1.5rem;
        color: $color-light-gray;
        transition: all 300ms ease-in-out;

        &:hover {
            color: $color-white;
            background-color: $color-accent;
        }

        &:not(:last-child) {
            margin-right: .5rem;
            margin-bottom: .5rem;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}