@import '../../assets/styles/index.scss';

header {
    position: fixed;
    width: 100%;
    height: 7rem;  
    transition: all .25s ease;
    // margin-top: 0.3rem;
    z-index: 10;
    background-color: $color-black;
  
    &.hidden {
      transform: translateY(-7.3rem)
    }
  
    &.header-placeholder {
      position: relative;
      visibility: hidden;
    }
  }

  .nav {
    display: flex;
    justify-content: flex-start; 
      position: relative;

    &--center {
      flex: 0 1 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -10px;

      img {
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 50%;
      }

      a {
        padding: 0 !important;
      }
    }

    &--right {
      flex: 0 1 auto;
      margin-left: auto;
    }
    
    &-item {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        padding: 0.5rem 2rem;
        display: inline-block;
        transition: .2s ease-in;
        position: relative;
        // font-size: $default-font-size;
        cursor: pointer;
        text-transform: uppercase;
        color: inherit;
        font-weight: 300;
        color: $color-gray;

        &.selected {
          color: $color-white;
        }
  
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  
  
  