//COLORS
// $color-orange: #FF5722;
// $color-blue-gray: #607D8B;
// $color-dark-blue-gray: #455A64;
// $color-black: #212121;
// $color-gray: #BDBDBD;
// $color-light-gray: #CFD8DC;
// $color-dark-gray: #757575;

$color-black: #212121;
$color-gray: #9E9E9E;
$color-light-gray: #BDBDBD;
$color-white: #F5F5F5;
$color-accent: #607D8B;

// FONT
$default-font-size: 1.6rem;

$header-height: 7rem;
$footer-height: 11rem;